<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Scienaptic - Real Science. Real Time.</title>

<meta name="application-name" content="Scienaptic - contact us">
<meta name="description" content="contact us">
<meta name="keywords" content="scienaptic">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="Cache-Control" content="no-cache" />


<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">


<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" type="text/css"
	href="vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/contact.css">
<link rel="stylesheet" href="css/affix.css">



<style>
body  {
 line-height:40px;
}
</style>
									
</head>
<body style="background: #9d9d9d;">
	<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="container" style="width: 1092px !important;">
		<header>
			<nav class="navbar navbar-inverse sci_navbar" role="navigation"
				style="border-left-width: 0px; border-right-width: 0px;">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="brand-logo-brd">
						<a class="brand-logo" href="home.html"><img
							src="img/logo_01.png" width="200" height="70"></a>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1"  style="padding-top:10px;">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="home.html"><span
									class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
							<li class="dropdown"><a href="whatWeDo.html">What We Do</a>
								<ul class="dropdown-menu" role="menu"
									style="left: 0px; right: auto !important;">
									<li><a href="whatWeDo.html#scene2">Omni Channel CRM</a></li>
									<li><a href="whatWeDo.html#scene3">Risk Management</a></li>
									<li><a href="whatWeDo.html#scene4">Big Data and
											Analytics Advisory</a></li>
									<li><a href="whatWeDo.html#scene5">Data Management  &amp; 
											Reporting</a></li>
								</ul></li>
							<li class="dropdown"><a href="howWeDoIt.html">How It Works</a>
								<ul class="dropdown-menu" role="menu"
								style="left: 0px; right: auto !important;">
									<li><a href="howWeDoIt.html#scene2">Fluid Data
											Management</a></li>
									<li><a href="howWeDoIt.html#scene3">Auto Aware,
											Adaptive Technology</a></li>
									<li><a href="howWeDoIt.html#scene4">Advanced Algorithm
											Expertise</a></li>
									<li><a href="howWeDoIt.html#scene5">Visualization
											&amp; Storyboarding</a></li>
								</ul></li>
							<li class="dropdown"><a href="whoWeAre.html">About us</a>
								<ul class="dropdown-menu" role="menu"
								style="left: 0px; right: auto !important;">
									<li><a href="whoWeAre.html#scene4">Our Team</a></li>
									<li><a href="whoWeAre.html#scene2">How we think</a></li>
									<li><a href="whoWeAre.html#scene3">Our Name</a></li>
									<li><a href="whoWeAre.html#scene5">Careers</a></li>
								</ul></li>
							<li><a class="active" href="contactUs.html">Get In Touch</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<nav class="sci_bottomNav"  style="margin-top:-10px;"">
				<div class="container-fluid">
					<div class="pull-left">
						<a class="sci-caption">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Real Science. Real Time.</a>
					</div>

					<ul class="sci_social pull-right">
						<li><a class="twitter" href="#"></a></li>
						<li><a class="linkedin"
							href="https://www.linkedin.com/company/scienaptic-systems"></a></li>
					</ul>
				</div>
			</nav>



		</header>

		<div>
			

			<section class="section2">
				<div class="toparrowbg"> 
				
				<div data-ng-app="" data-ng-controller="contactUsController">
					<div class="scene3Content">
						<article>
							<div class="row" style="margin-bottom: 20px;">
								<h1 style="cursor: pointer;">Ask Us/Tell Us</h1>
								<div class="hLine2"></div>
							</div>
							<div class="row form-group">
								<div class="col-xs-1"></div>
								<div class="col-xs-5">
									<!-- <div class="row text-left">
										<img src="img/logo_dark.bmp" height="80"
											style="margin-left: -20px;">
									</div> -->
									<div class="row text-left" style="font-size: x-large;">
										<label for="phone">Phone:</label><br> <label for="phone">USA:</label>
										+1 646 642 6524<br> <label for="phone">India:</label> +91
										998 071 8045
									</div>
								</div>
								<style>
input.form-control.ng-invalid {
	background: tan;
}
</style>
								<div class="col-xs-5"
									style="text-align: left; border-left: 1px gray solid; padding-left: 30px; min-height: 410px;">
									<form role="form" name="contactUsForm"
										data-ng-submit="submit()">
										<div class="input-group input-group-sm"
											style="width: 100%; margin-top: 20px;" id="m_body_1">
											<div class="form-group">
												<label for="name"><span style="color: red;">*</span>Name:</label>
												<input type="text" class="form-control" placeholder="Name"
													data-ng-model="messanger.name" data-ng-minlength="3">
											</div>
											<div class="form-group">
												<label for="phone">Phone:</label><input type="tel"
													class="form-control" placeholder="Phone"
													data-ng-model="messanger.phone"
													data-ng-pattern="/^\+?[- \.0-9\(\)]{10,}$/">
											</div>
											<div class="form-group">
												<label for="email">Email:</label> <input type="email"
													class="form-control" placeholder="Email"
													data-ng-model="messanger.email"><span
													style="color: red"
													data-ng-show="contactUsForm.messanger.email.$dirty && contactUsForm.messanger.email.$invalid"></span>
											</div>
											<div class="form-group">
												<label for="message"><span style="color: red;">*</span>Message:</label>
												<textarea class="form-control" rows="5"
													placeholder="Message" data-ng-model="messanger.message"
													required="required"></textarea>
											</div>
										</div>
										<div class="input-group input-group-sm"
											style="width: 100%; display: none;" id="m_body_2">Thank
											you for submitting request. We will get back to you shortly.</div>
										<div class="modal-footer" id="m_footer_1"
											style="margin-bottom: 0px;">
											<button type="submit" style="margin-right: 0px;"
												class="btn btn-primary"
												data-ng-disabled="contactUsForm.$invalid">Send</button>
										</div>
									</form>
									
	<script>
										function contactUsController($scope,
												$http) {
											$scope.messanger = {
												name : '',
												email : '',
												phone : '',
												message : ''
											};
											$scope.submit = function() {
												console.log('submit called');
												$http
														.post(
																'mvc/contact_us/mail',
																$scope.messanger)
														.success(
																function(e) {
																	var body1 = $('#m_body_1');
																	var body2 = $('#m_body_2');
																	var footer1 = $('#m_footer_1');
																	body1
																			.hide();
																	footer1
																			.hide();
																	body2
																			.show();
																});
											}
										}
									</script>
									
								</div>
								<div class="col-xs-1"></div>
							</div>
						</article>
					</div>
				</div>
				</div>
			</section>
</div>
		<footer class="sci_footer " style="margin-top:-15px;">
			<!-- Links Footer -->
			<footer class="sci_footer1">
				<div>
					<div>
						<section class="col-xs-6 leftInfo">
							<header>
								<h1>
									<a href="home.html"><img src="img/logo_01.png" height="50" ></a>
								</h1>
							</header>
							<nav class="">
								<ul style="line-height:20px;">
									<li><a href="whatWeDo.html">What We Do</a></li>
                                    <li><a href="howWeDoIt.html">How It Works</a></li>
                                    <li><a href="whoWeAre.html">About us</a></li>
								</ul>
							</nav>
						</section>

						<section class="col-xs-6 rightInfo">
							<!-- <header>
								<h1>
									<a href="mailto:info@scienaptic.com">info@scienaptic.com</a>
								</h1>
								<br>
							</header> -->
							<nav>
								<ul class="sci_social_footer" style="padding-top:30px;">
									<li><a class="twitter" href="#"></a></li>
									<li><a class="linkedin"
										href="https://www.linkedin.com/company/scienaptic-systems"></a></li>
								</ul>
							</nav>
						</section>
					</div>
				</div>

				<br> <br>
				<div class="clearfix"></div>
			</footer>

			<!-- Copyright info footer -->
			<footer class="sci_footer2">
				<div>
					<div style="padding-bottom: 20px;">
						<div class="col-xs-12 col-xs-6">
							<p class="leftInfo">Copyright : Scienaptic Systems Inc. 2014</p>
						</div>
						<div class="col-xs-12 col-xs-6">
							<p class="rightInfo">
								<a href="contactUs.html"> Contact Us</a>
							</p>

						</div>
					</div>
				</div>
			</footer>

		</footer>

	</div>
<!-- 
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write(
								'<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
	</script>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	
		<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script> -->
		
		<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="js/vendor/modernizr-2.8.0.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55760638-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
