<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Scienaptic - Real Science. Real Time.</title>

<meta name="application-name" content="Scienaptic - Home">
<meta name="description" content="home">
<meta name="keywords" content="scienaptic">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="Cache-Control" content="no-cache" />


<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" type="text/css"
	href="vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/affix.css">
<script src="js/vendor/modernizr-2.8.0.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
</script>
</head>
<body data-spy="scroll" data-target="#myScrollspy"
	style="background: black;">
	<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="scrollnavbrd" id="myScrollspy">
		<nav>
			<ul class="nav nav-tabs nav-stacked" data-spy="affix"
				data-offset-top="0" data-offset-bottom="500" id="scrollSpyLinks">
				<li id="first"><a href="#section1"></a></li>
				<li><a href="#scene4"></a></li>
				<li><a href="#scene5"></a></li>
				<li id="last"><a href="#scene9"></a></li>
			</ul>
		</nav>
	</div>

	<div class="container" style="width: 1092px !important;">
		<header>
			<nav class="navbar navbar-inverse sci_navbar" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="brand-logo-brd">
						<a class="brand-logo" href="home.html"><img
							src="img/logo_01.png" width="274" height="85"></a>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="active" href="home.html"><span
									class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
							<li class="dropdown"><a href="whatWeDo.html">What We Do</a>
								<ul class="dropdown-menu" role="menu"
									style="left: 0px; right: auto !important;">
									<li><a href="whatWeDo.html#scene2">Omni Channel CRM</a></li>
									<li><a href="whatWeDo.html#scene3">Risk Management</a></li>
									<li><a href="whatWeDo.html#scene4">Big Data and
											Analytics Advisory</a></li>
									<li><a href="whatWeDo.html#scene5">Data Management,
											reporting &amp; visualization</a></li>
								</ul></li>
							<li class="dropdown"><a href="howWeDoIt.html">How We Do
									It</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="howWeDoIt.html#scene2">Fluid Data
											Management</a></li>
									<li><a href="howWeDoIt.html#scene3">Auto Aware,
											Adaptive Technology</a></li>
									<li><a href="howWeDoIt.html#scene4">Advanced Algorithm
											Expertise</a></li>
									<li><a href="howWeDoIt.html#scene5">Visualization
											&amp; Storyboarding</a></li>
								</ul></li>
							<li class="dropdown"><a href="whoWeAre.html">Who We Are</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="whoWeAre.html#scene4">Our People</a></li>
									<li><a href="whoWeAre.html#scene2">How we think</a></li>
									<li><a href="whoWeAre.html#scene3">Our Name</a></li>
								</ul></li>
							<li><a href="contactUs.html">Get In Touch</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<nav class="sci_bottomNav">
				<div class="container-fluid">
					<div class="pull-left">
						<a class="sci-caption">Real Science. Real Time.</a>
					</div>

					<ul class="sci_social pull-right">
						<li><a class="twitter" href="#"></a></li>
						<li><a class="linkedin"
							href="http://in.linkedin.com/pub/scienaptic-systems/a2/795/915"></a></li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- Main Content -->
		<div>
			<!-- Carousel
    ================================================== -->
			<div id="section1" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#section1" data-slide-to="0" class="active"></li>
					<li data-target="#section1" data-slide-to="1"></li>
					<li data-target="#section1" data-slide-to="2"></li>
					<li data-target="#section1" data-slide-to="3"></li>
					<li data-target="#section1" data-slide-to="4"></li>
					<li data-target="#section1" data-slide-to="5"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active" id="item0">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article>
										<div class="whatwedoImgBrd pull-left text-right col-xs-6"></div>
										<div class="pull-right text-left col-xs-6 whatwedolabelbrd">
											<div class="text1" style="padding-bottom: 35px;">
												<h2 style="color: white !important;">Fluid Data
													Management</h2>
											</div>
											<div class="text2" style="padding: 8px 0px 72px 0px;">
												<h2 style="color: white !important;">Auto Aware
													Adaptive Technology</h2>
											</div>
											<div class="text3"
												style="padding-top: 10px; padding-bottom: 0px;">
												<h2 style="color: white !important; margin-top: 0px;">Built-in
													Knowledge Management &amp; Training</h2>
											</div>
											<div class="text4"
												style="padding-top: 40px; padding-bottom: 0px;">
												<h2 style="color: white !important; padding-top: 0px;">Optimised
													Human-Technology Deployment</h2>
											</div>
										</div>
									</article>
								</div>
							</div>
						</section>
					</div>
					<div class="item" id="item1">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article style="padding: 200px 110px 0px 110px;">
										<h2>Our services powered by really clever software will
											cut deployment times by 90%, and dramatically increase
											business impact of your Analytics teams.</h2>
									</article>
								</div>
							</div>
						</section>
					</div>
					<div class="item" id="item2">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article style="padding: 150px 110px 0px 110px;">
										<h1>Fluid Data Management</h1>
										<h2>We believe the most powerful insights will come by
											combining new internal and external data. Our Ether
											technology greases your technology stack, supplements it as
											needed, enabling analysts to be unconstrained.</h2>
									</article>
								</div>
							</div>
						</section>
					</div>
					<div class="item" id="item3">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article style="padding: 150px 110px 0px 110px;">
										<h1>Auto Aware Adaptive Technology</h1>
										<h2>We have deployed serious machine learning and AI
											engines in the platform. This enables the platform to learn
											from every interaction and constantly expand your insight
											frontier.</h2>
									</article>
								</div>
							</div>
						</section>
					</div>
					<div class="item" id="item4">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article style="padding: 150px 110px 0px 110px;">
										<h1>Built-in Knowledge Management &amp; Training</h1>
										<h2>As the adoption of Analytics exponentially increases,
											our platform preserves the knowledge of experts and makes it
											available to business users and new analysts. This
											dramatically increases the speed and innovativeness of
											analysts.</h2>
									</article>
								</div>
							</div>
						</section>
					</div>
					<div class="item" id="item5">
						<section id="scene1">
							<div class="sci_scene1">
								<div class="sci_scene1_pattern"
									style="height: 677px; width: 1062px; padding-top: 70px;">
									<article style="padding: 150px 110px 0px 110px;">
										<h1>Optimised Human-Technology Deployment</h1>
										<h2>We pull all our solution deployments through the
											thread of significant subject matter expertize. Our experts
											assess the situation and deploy appropriate combination of
											human resource and technology to deliver results. Over time,
											the adaptive technology becomes smarter and analysts spend
											more time on synthesis and lateral thinking.</h2>
									</article>
								</div>
							</div>
						</section>
					</div>
				</div>
				<a class="left carousel-control" href="#section1" role="button"
					data-slide="prev"><span
					class="glyphicon glyphicon-chevron-left"></span></a> <a
					class="right carousel-control" href="#section1" role="button"
					data-slide="next"><span
					class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<!-- /.carousel -->

			<section id="scene3" class="white_gray_gradient"
				style="background: none repeat scroll 0% 0% white; padding-top: 70px; display: none;">
				<div class="row">
					<div class="col-xs-4">
						<div class="cen_brd">
							<div class="round_frame1"></div>
							<br>
							<p>We have developed a cluster of clever software to reduce
								friction in your big data and technology stack.</p>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-xs-4">
						<div class="cen_brd">
							<div class="round_frame2"></div>
							<p>We apply our significant experience to solve business
								problems and deliver real business impact.</p>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-xs-4">
						<div class="cen_brd">
							<div class="round_frame3"></div>
							<br>
							<p>The combination of our platform and services will cut
								deployment time by 90%.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-1">&nbsp;</div>
					<div class="col-xs-5">
						<div class="cen_brd">
							<div class="round_frame4"></div>
							<br>
							<p>Our platform learns continuously, and dramatically
								increases the effectiveness of your Analytics teams.</p>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-xs-5">
						<div class="cen_brd">
							<div class="round_frame5"></div>
							<br>
							<p>Embedded advanced data science, coupled with our business
								Analytics expertise, can make your processes lot more
								predictable.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-xs-1">&nbsp;</div>
				</div>
			</section>

			<section id="scene4" class="white_gray_gradient"
				style="padding-top: 30px; margin-top: -10px;">
				<div>
					<div class="row scene3Content">
						<article>
							<h1>What We Do</h1>
							<div class="hLine2"></div>

							<br> <br>
							<p>We have chosen to focus on areas where organizations have
								the most opportunities to use robust data science and generate
								huge business impact. Our leadership team has spent decades
								solving these problems. We are honing our platform in these
								salient areas.</p>
							<br> <br>
						</article>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="row">
					<article>
						<div class="col-xs-1 Icon_brd text-right"></div>
						<div class="col-xs-5 Icon_brd text-left">
							<div class="jumbotron"
								style="background: transparent; border: 1px solid #8CC63F !important; min-height: 561px;">
								<div id="iconContainer2" style="display: block;"
									class="h_text_brd">
									<h4 style="margin-top: 0px;">Omni channel CRM</h4>
									<div class="hline"></div>
									<img src="img/how_we_do_it_02.png" width="300" height="300">
								</div>
								<div class="h_text_brd" id="descriptionContainer2"
									style="display: none; padding-top: 0px;">
									<h5
										style="font-stretch: narrower; font-size: larger; color: #99cc33; line-height: 200%;">Most
										organizations have made significant progress in engaging
										customers through the rapidly evolving mobile and social
										channels. We have several point solutions as well as
										integrative solution that enable clients to become lot more
										proactive and impactful in engaging with customers and
										prospects.</h5>
									<div style="text-align: right;">
										<br> <a href="whatWeDo.html#scene2"
											style="color: #99cc33; font-style: italic;"> Read More</a>
									</div>
								</div>
								<script type="text/javascript">
									$(document).ready(function() {
										var icon = $('#iconContainer2');
										var desc = $('#descriptionContainer2');
										icon.hover(function() {
											icon.hide();
											desc.show();
										});
										desc.hover(null, function() {
											icon.show();
											desc.hide();
										});
									});
								</script>
							</div>
						</div>
						<div class="col-xs-5 Icon_brd text-right">
							<div class="jumbotron"
								style="background: transparent; border: 1px solid #8CC63F !important; min-height: 561px;">
								<div id="iconContainer1" style="display: block;"
									class="h_text_brd">
									<h4 style="margin-top: 0px;">Risk Management</h4>
									<div class="hline"></div>
									<img src="img/how_we_do_it_03.png" width="300" height="300">
								</div>
								<div class="h_text_brd" id="descriptionContainer1"
									style="display: none; padding-top: 0px;">
									<h5
										style="font-stretch: narrower; font-size: larger; color: #99cc33; line-height: 200%;">Risk
										management has been a strategic function for couple of decades
										now but in last 6-8 years, several aspects of risk management
										have sucked in a huge amount of senior leadership bandwidth.
										Most of these pertain to regulatory and compliance
										requirements. Our solutions help clients meet these
										requirements with the least amount of overhead.</h5>
									<div style="text-align: right;">
										<br> <a href="whatWeDo.html#scene3"
											style="color: #99cc33; font-style: italic;"> Read More</a>
									</div>
								</div>
								<script type="text/javascript">
									$(document).ready(function() {
										var icon = $('#iconContainer1');
										var desc = $('#descriptionContainer1');
										icon.hover(function() {
											icon.hide();
											desc.show();
										});
										desc.hover(null, function() {
											icon.show();
											desc.hide();
										});
									});
								</script>
							</div>
						</div>
						<div class="col-xs-1 Icon_brd text-right"></div>
					</article>
				</div>


				<div class="row">
					<article>
						<div class="col-xs-1 Icon_brd text-right"></div>
						<div class="col-xs-5 Icon_brd text-right">
							<div class="jumbotron"
								style="background: transparent; border: 1px solid #8CC63F !important; min-height: 561px;">
								<div id="iconContainer3" style="display: block;"
									class="h_text_brd">
									<h4 style="margin-top: 0px;">Big data &amp; analytics
										advisory</h4>
									<div class="hline"></div>
									<img src="img/how_we_do_it_05.png" width="300" height="300">
								</div>
								<div class="h_text_brd" id="descriptionContainer3"
									style="display: none; padding-top: 0px;">
									<h5
										style="font-stretch: narrower; font-size: larger; color: #99cc33; line-height: 200%;">Among
										our team we have significant experience of conceptualizing,
										implementing and advising Fortune 500 companies to create
										cutting edge big data and data science capabilities. We
										provide advisory and support services to help you create an
										analytics roadmap that is appropriate for your organization.</h5>
									<div style="text-align: right;">
										<br> <a href="whatWeDo.html#scene4"
											style="color: #99cc33; font-style: italic;"> Read More</a>
									</div>
								</div>
								<script type="text/javascript">
									$(document).ready(function() {
										var icon = $('#iconContainer3');
										var desc = $('#descriptionContainer3');
										icon.hover(function() {
											icon.hide();
											desc.show();
										});
										desc.hover(null, function() {
											icon.show();
											desc.hide();
										});
									});
								</script>
							</div>
						</div>
						<div class="col-xs-5 Icon_brd text-right">
							<div class="jumbotron"
								style="background: transparent; border: 1px solid #8CC63F !important; min-height: 561px;">
								<div id="iconContainer4" style="display: block;"
									class="h_text_brd">
									<h4 style="margin-top: 0px;">Data management, Reporting
										&amp; Visualisation</h4>
									<div class="hline"></div>
									<img src="img/how_we_do_it_04.png" width="300" height="300">
								</div>
								<div class="h_text_brd" id="descriptionContainer4"
									style="display: none; padding-top: 0px;">
									<h5
										style="font-stretch: narrower; font-size: larger; color: #99cc33; line-height: 200%;">Data
										Management and Reporting work takes 60-80% of analytical
										resources within most organizations. Our solutions will
										dramatically reduce this effort and will continually
										re-engineer to exploit opportunities presented by technology
										evolution. We also bring advanced visual capabilities to bear
										in our outputs thus reducing the amount of work analysts have
										to do to beautify analytical outputs for senior management
										presentations.</h5>
									<div style="text-align: right;">
										<br> <a href="whatWeDo.html#scene5"
											style="color: #99cc33; font-style: italic;"> Read More</a>
									</div>
								</div>
								<script type="text/javascript">
									$(document).ready(function() {
										var icon = $('#iconContainer4');
										var desc = $('#descriptionContainer4');
										icon.hover(function() {
											icon.hide();
											desc.show();
										});
										desc.hover(null, function() {
											icon.show();
											desc.hide();
										});
									});
								</script>
							</div>
						</div>
						<div class="col-xs-1 Icon_brd text-right"></div>
					</article>
				</div>
			</section>

			<section id="scene5" class="white_gray_gradient"
				style="padding-top: 30px; margin-top: -10px;">
				<div data-ng-app="" data-ng-controller="contactUsController">
					<div class="scene3Content">
						<article>
							<div class="row" style="margin-bottom: 20px;">
								<h1 style="cursor: pointer;">Ask Us/Tell Us</h1>
								<div class="hLine2"></div>
							</div>
							<div class="row form-group">
								<div class="col-xs-1"></div>
								<div class="col-xs-5">
									<div class="row text-left">
										<img src="img/logo_dark.bmp" height="80"
											style="margin-left: -20px;">
									</div>
									<div class="row text-left" style="font-size: x-large;">
										<label for="phone">Phone:</label><br> <label for="phone">USA:</label>
										+1 646 642 6524<br> <label for="phone">India:</label> +91
										998 071 8045
									</div>
								</div>
								<style>
input.form-control.ng-invalid {
	background: tan;
}
</style>
								<div class="col-xs-5"
									style="text-align: left; border-left: 1px gray solid; padding-left: 30px; min-height: 410px;">
									<form role="form" name="contactUsForm"
										data-ng-submit="submit()">
										<div class="input-group input-group-sm"
											style="width: 100%; margin-top: 20px;" id="m_body_1">
											<div class="form-group">
												<label for="name"><span style="color: red;">*</span>Name:</label>
												<input type="text" class="form-control" placeholder="Name"
													data-ng-model="messanger.name" data-ng-minlength="3">
											</div>
											<div class="form-group">
												<label for="phone">Phone:</label><input type="tel"
													class="form-control" placeholder="Phone"
													data-ng-model="messanger.phone"
													data-ng-pattern="/^\+?[- \.0-9\(\)]{10,}$/">
											</div>
											<div class="form-group">
												<label for="email">Email:</label> <input type="email"
													class="form-control" placeholder="Email"
													data-ng-model="messanger.email"><span
													style="color: red"
													data-ng-show="contactUsForm.messanger.email.$dirty && contactUsForm.messanger.email.$invalid"></span>
											</div>
											<div class="form-group">
												<label for="message"><span style="color: red;">*</span>Message:</label>
												<textarea class="form-control" rows="5"
													placeholder="Message" data-ng-model="messanger.message"
													required="required"></textarea>
											</div>
										</div>
										<div class="input-group input-group-sm"
											style="width: 100%; display: none;" id="m_body_2">Thank
											you for submitting request. We will get back to you shortly.</div>
										<div class="modal-footer" id="m_footer_1"
											style="margin-bottom: 0px;">
											<button type="submit" style="margin-right: 0px;"
												class="btn btn-primary"
												data-ng-disabled="contactUsForm.$invalid">Send</button>
										</div>
									</form>
									<script>
										function contactUsController($scope,
												$http) {
											$scope.messanger = {
												name : '',
												email : '',
												phone : '',
												message : ''
											};
											$scope.submit = function() {
												console.log('submit called');
												$http
														.post(
																'mvc/contact_us/mail',
																$scope.messanger)
														.success(
																function(e) {
																	var body1 = $('#m_body_1');
																	var body2 = $('#m_body_2');
																	var footer1 = $('#m_footer_1');
																	body1
																			.hide();
																	footer1
																			.hide();
																	body2
																			.show();
																});
											}
										}
									</script>
								</div>
								<div class="col-xs-1"></div>
							</div>
						</article>
					</div>
				</div>
			</section>

			<section class="contactformbrd">
				<div class="joinusLink" style="text-align: center;">
					<p style="margin-bottom: 0px;">
						<a>Join Us</a>
					</p>
					<div class="hline"
						style="margin: 0 auto; width: 64px; height: 1px;"></div>
				</div>
			</section>

			<section id="scene9" class="ourbg"
				style="padding-top: 50px; color: #CCCCCC;">
				<div class="row">
					<div class="col-xs-3 text-center">
						<div
							style="border-radius: 100%; background: #3FC1D7; height: 150px; width: 150px; margin: 0 auto;">
							<img src="img/svg/meaningful.svg" width="150" height="150">
						</div>
						<h4 style="font-style: italic; margin-top: 30px; color: white;">Meaningful</h4>
					</div>
					<div class="col-xs-3 text-center">
						<div
							style="border-radius: 100%; background: #3FC1D7; height: 150px; width: 150px; margin: 0 auto;">
							<img src="img/svg/rewarding.svg" width="150" height="150">
						</div>
						<h4 style="font-style: italic; margin-top: 30px; color: white;">Rewarding</h4>
					</div>
					<div class="col-xs-3 text-center">
						<div
							style="border-radius: 100%; background: #3FC1D7; height: 150px; width: 150px; margin: 0 auto;">
							<img src="img/svg/flexible.svg" width="150" height="150">
						</div>
						<h4 style="font-style: italic; margin-top: 30px; color: white;">Flexible</h4>
					</div>
					<div class="col-xs-3 text-center">
						<div
							style="border-radius: 100%; background: #3FC1D7; height: 150px; width: 150px; margin: 0 auto;">
							<img src="img/svg/fun.svg" width="150" height="150">
						</div>
						<h3 style="font-style: italic; margin-top: 30px; color: white;">Fun</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<h4 style="padding-top: 25px;">We are looking for makers,
							doers, tinkerers, explorers and designers, who can also code and
							analyse.</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<h2>Come code the future of Big Data & Analytics with us!</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 style="font-style: italic; color: #3FC1D7; padding-top: 30px;">
							Read More about <a style="text-decoration: none;"
								href="contactUs.html#contactform">Careers</a> @Scienaptic
						</h3>
						<h3 style="font-style: italic; color: #3FC1D7; padding-top: 0px;">
							<a href="whoWeAre.html#scene4" style="text-decoration: none;">Our
								People</a>
						</h3>
					</div>
				</div>
			</section>
		</div>

		<footer class="sci_footer">
			<!-- Links Footer -->
			<footer class="sci_footer1">
				<div>
					<div>
						<section class="col-xs-6 leftInfo">
							<header>
								<h1>
									<a href="home.html"><img src="img/footer_logo.png"></a>
								</h1>
							</header>
							<nav class="">
								<ul>
									<li><a href="whatWeDo.html">What We Do</a></li>
									<li><a href="whoWeAre.html">Who We Are</a></li>
									<li><a href="howWeDoIt.html">How We Do It</a></li>
								</ul>
							</nav>
						</section>

						<section class="col-xs-6 rightInfo">
							<header>
								<h1>
									<a href="mailto:info@scienaptic.com">info@scienaptic.com</a>
								</h1>
								<br>
							</header>
							<nav>
								<ul class="sci_social_footer">
									<li><a class="twitter" href="#"></a></li>
									<li><a class="linkedin"
										href="http://in.linkedin.com/pub/scienaptic-systems/a2/795/915"></a></li>
								</ul>
							</nav>
						</section>
					</div>
				</div>

				<br> <br>
				<div class="clearfix"></div>
			</footer>

			<!-- Copyright info footer -->
			<footer class="sci_footer2">
				<div>
					<div style="padding-bottom: 20px;">
						<div class="col-xs-12 col-xs-6">
							<p class="leftInfo">Copyright 2013 | Scienaptic Pvt. Ltd.
								2014</p>
						</div>
						<div class="col-xs-12 col-xs-6">
							<p class="rightInfo">
								<a href="contactUs.html"> Contact Us</a> <a href="#"> Join
									Us</a>
							</p>

						</div>
					</div>
				</div>
			</footer>

		</footer>

	</div>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>
